<div class="pattern-dots-md top-dots">
    <h1>branding</h1>
</div>

<p>All of our branding was created by the very talented <a href="//stephendoby.com" target="_blank">Stephen Dobrzynski</a></p>

<h2>Color</h2>
<div class="color-swatch" style="background-color: rgb(var(--arbitrary-blue-rgb));">
    <div>Palatinate Blue</div>
    <div>#303eff</div>
    <div>rgb(48, 63, 255)</div>
</div>
<div class="color-swatch" style="background-color: rgb(var(--arbitrary-white-rgb)); color: rgb(var(--arbitrary-gray-rgb));">
    <div>Gainsboro</div>
    <div>#dcdcdc</div>
    <div>rgb(220, 220, 220)</div>
</div>
<div class="color-swatch" style="background-color: rgb(var(--arbitrary-gray-rgb));">
    <div>Gunmetal</div>
    <div>#121212</div>
    <div>rgb(18, 18, 18)</div>
</div>
<div class="color-swatch" style="background-color: rgb(var(--arbitrary-black-rgb)); border: 1px solid rgb(var(--arbitrary-white-rgb));">
    <div>Black</div>
    <div>#00000</div>
    <div>rgb(0, 0, 0)</div>
</div>

<h2>Wordmark</h2>
<img src="/assets/arbitrary-white.png" style="width: 50%; padding: 16px;"/>
<img src="/assets/arbitrary-black.png" style="width: 50%; background-color: rgb(var(--arbitrary-white-rgb)); padding: 16px;"/>

<h2>Icon</h2>
<img src="/assets/arbitrary-icon-black.png" style="width: 25%; margin: 16px; border: 1px solid rgb(var(--arbitrary-white-rgb));"/>
<img src="/assets/arbitrary-icon-white.png" style="width: 25%; margin: 16px;"/>
<img src="/assets/arbitrary-icon-blue.png" style="width: 25%; margin: 16px;"/>