<div class="pattern-dots-md top-dots">
    <h1>about</h1>
</div>
<p>
    We do not have a physical location, but rather work entirely remotely. Here are our team members and some info about them!
</p>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="jaxon-image">
        </div>
        <mat-card-title>
            Jaxon Wright
        </mat-card-title>
        <mat-card-subtitle>
            Founder, Developer
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        After buying a Tesla Model 3 in 2019, Jaxon has been enamored by the platform and experience.
        However, he wanted to give him and all the fellow owners a better experience managing their vehicles.
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="mailto:jaxon@arbitrarydev.com">Email</a>
        <a mat-button href="https://github.com/jaxonwright" target="_blank">GitHub</a>
        <a mat-button href="https://jaxon.dev" target="_blank">Website</a>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="ben-image"></div>
        <mat-card-title>
            Benjamin Benson
        </mat-card-title>
        <mat-card-subtitle>
            Developer
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu ex lorem. Nunc in aliquam risus. Fusce quis vehicula erat. Vestibulum tempus erat commodo, fermentum erat ut, ultricies lorem. Proin fermentum scelerisque neque.
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="mailto:ben@arbitrarydev.com">Email</a>
        <a mat-button href="https://github.com/bensonben" target="_blank">GitHub</a>
    </mat-card-actions>
</mat-card>