<div class="pattern-dots-md top-dots">
  <h1>products</h1>
</div>
<h2>in production</h2>
<mat-card class="product-card" *ngFor="let prod of productionProds">
  <mat-card-header>
    <mat-card-title [style.font-family]="prod.font ? prod.font : 'inherit'">
      {{prod.name}}
    </mat-card-title>
    <!-- <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>
          {{prod.license}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    {{prod.desc}}
  </mat-card-content>
  <mat-card-actions>
    <a mat-button *ngIf="prod.repoURL" [href]="prod.repoURL" target="_blank">
      GitHub Repo
    </a>
    <a mat-button *ngIf="prod.prodURL" [href]="prod.prodURL" target="_blank">
      View Product
    </a>
  </mat-card-actions>
</mat-card>
<h2>in development</h2>
<mat-card class="product-card" *ngFor="let prod of devProds">
  <mat-card-header>
    <mat-card-title [style.font-family]="prod.font ? prod.font : 'inherit'">
      {{prod.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{prod.desc}}
  </mat-card-content>
  <mat-card-actions>
    <a mat-button *ngIf="prod.repoURL" [href]="prod.repoURL" target="_blank">
      GitHub Repo
    </a>
    <a mat-button *ngIf="prod.prodURL" [href]="prod.prodURL" target="_blank">
      View Product
    </a>
  </mat-card-actions>
</mat-card>