<div class="pattern-dots-md top-dots">
    <h1>privacy</h1>
</div>
<h2>Last Updated: Monday, June 26, 2023</h2>

<p>This Privacy Policy explains how we collect, use, disclose, and protect the information you provide while using our
    web and mobile applications (collectively referred to as the "Services"). By using our Services, you agree to the
    terms outlined in this Privacy Policy.</p>

<h3>1. Information We Collect</h3>

<h4>1.1 Non-Personal Information:</h4>
<p>When you interact with our Services, we may collect certain non-personal information that does not directly identify
    you. This information may include:</p>
<ul>
    <li>Device information: We may collect information about the device you use to access our Services, such as the type
        of device, operating system, and browser.</li>
    <li>Usage data: We may collect data about your interactions with our Services, including the features you use, pages
        visited, and actions taken. This information is used to analyze and improve the performance and functionality of
        our Services.</li>
</ul>

<h3>2. Use of Information</h3>

<h4>2.1 Providing and Improving the Services:</h4>
<p>We use the information collected to deliver and enhance the functionality of our Services. This includes:</p>
<ul>
    <li>Optimizing and personalizing your experience with our Services.</li>
    <li>Analyzing usage patterns to improve and develop new features.</li>
    <li>Monitoring and troubleshooting technical issues to ensure the smooth operation of our Services.</li>
</ul>

<h4>2.2 Aggregated and Anonymized Data:</h4>
<p>We may aggregate and anonymize the collected information to generate statistical and analytical insights. This
    aggregated data does not identify you personally and may be used for various purposes, including research,
    marketing, and business intelligence.</p>

<h3>3. Information Sharing and Disclosure</h3>

<h4>3.1 Third-Party Service Providers:</h4>
<p>We may engage trusted third-party service providers to assist us in delivering and improving our Services. These
    providers may have access to certain non-personal information to perform tasks on our behalf, such as analytics and
    hosting services. They are contractually bound to protect your information and use it solely for the purposes
    specified by us.</p>

<h4>3.2 Legal Compliance and Protection:</h4>
<p>We may disclose non-personal information if required by law, court order, or governmental request, or when we believe
    in good faith that such disclosure is necessary to protect our rights, comply with a legal obligation, or safeguard
    the security of our users.</p>

<h3>4. Data Security</h3>

<p>We take reasonable measures to protect the information collected from unauthorized access, disclosure, alteration, or
    destruction. However, please be aware that no method of transmission over the internet or electronic storage is
    completely secure, and we cannot guarantee absolute security.</p>

<h3>5. Your Choices</h3>

<p>As we do not collect any personal information or user-specific data, there are no specific choices or actions
    required from you concerning your information.</p>

<h3>6. Children's Privacy</h3>

<p>Our Services are not intended for individuals under the age of 16. We do not knowingly collect personal information
    from children. If you believe that we have inadvertently collected personal information from a child, please contact
    us, and we will take immediate steps to delete the information from our systems.</p>

<h3>7. Changes to this Privacy Policy</h3>

<p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately
    upon posting the revised version on our website. We encourage you to review this Privacy Policy periodically to stay
    informed about how we handle non-personal information.</p>

<p>If you have any questions or concerns about our Privacy Policy, please contact us at contact@arbitraydev.com.</p>