.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #000000;
  color: #ffffff;
}

.mat-toolbar.main {
  position: sticky;
  top: 0;
  z-index: 1;
}

.social-links {
  margin-left: auto;
}

.mat-list-item {
    color: #ffffff;
}

mat-toolbar.footer {
    font-size: 12px;
    font-weight: 300;

    &.footer-links {
      height: 24px;
    }
}

.active-route,
a.mat-list-item:hover,
.mat-nav-list a.mat-list-item:focus {
    font-weight: 500;
    background: rgb(var(--arbitrary-gray-rgb));
}

mat-sidenav-content {
    background: black;
    color: white;
}

a {
  color: rgb(var(--arbitrary-white-rgb));
  text-decoration: none;
}