<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">arbitrary</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">home</a>
      <a mat-list-item [routerLink]="['products']" routerLinkActive="active-route">products</a>
      <a mat-list-item [routerLink]="['about']" routerLinkActive="active-route">about</a>
    </mat-nav-list>
    <mat-toolbar class="footer" color="primary">
      &copy; {{currentYear}} arbirary
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="isHandset$ | async">arbitrary</span>
    </mat-toolbar>
    <div class="app-frame">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
